* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.title {
    width: 260px;
    height: 64px;
    background: #232F3E;
    padding: 20px;
    display: flex;
    align-items: center;
}

body, html {
    height: 100%;
    width: 100%;
}

.left_menu {
    width: 260px;
    background: #1B2430;
    height: 100%;
    padding: 20px;
}

.site_name {
    margin-left: 12px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu_title {
    color: white;
    margin-bottom: 20px;
}

.menu_item {
    display: flex;
    height: 44px;
}

.menu_pannels {
    color:white;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.unread_messages {
    height: 20px;
    width: 19px;
    background-color: #1E88E5;
    margin-left: 75px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.unread_messages_count {
    color: white;
}